.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  margin: 0 10px;
}

.version {
  font-size: 14px;
  color: #888;
  margin-top: 20px;
}

.links {
  margin-top: 20px;
}
